<?xml version="1.0"?>
<robot name="ship1">
  <link name="obstacles/ship1">
    <visual>
      <origin rpy="1.570796326 0.0 3.14159265" xyz="3. -0.8 -0.5"/>
      <geometry>
        <mesh filename="package://asv_simulator/meshes/Revolt.STL" scale="0.0001 0.0001 0.0001"/>
      </geometry>
      <material name="yellowish">
        <color rgba="0.8 0.6 0.4 1"/>
      </material>
    </visual>
  </link>
</robot>
