<?xml version="1.0"?>
<robot name="asv">
  <link name="asv">
    <visual>
      <origin rpy="1.570796326 0.0 3.14159265" xyz="30. -7.25 -5.0"/>
      <geometry>
        <mesh filename="package://asv_simulator/meshes/Revolt.STL" scale="0.001 0.001 0.001"/>
        <!-- <box size="8.52 2.97 2.0" /> -->
      </geometry>
      <material name="white">
        <color rgba="0.6 0.6 1 1"/>
      </material>
    </visual>
  </link>
</robot>
