<launch>
  <group ns="asv">
    <node pkg="asv_simulator"
          name="ASVNode"
          type="asv_simulator_node"
          respawn="false"
          output="screen">
      <rosparam param="initial_state">[0.0, 0.0, 1.57, 1.,0.,0.]</rosparam>
      <rosparam command="load" file="$(find asv_simulator)/config/parameters/viknes.yaml" />
    </node>
    <node pkg="asv_simulator"
          name="LOSNode"
          type="ctrl_LOS_guidance.py"
          respawn="false"
          output="screen">
      <rosparam param="u_d">3.0</rosparam>
      <rosparam command="load" file="$(find asv_simulator)/config/asv_waypoint_list.yaml" />
      <remap from="cmd_vel" to="LOS/cmd_vel" />
    </node>

    <param name="robot_description" textfile="$(find asv_simulator)/config/models/revolt.urdf" />
    <node pkg="robot_state_publisher"
          type="state_publisher"
          name="tf_broadcaster" />
  </group>

  <node pkg="asv_ctrl_vo"
        name="vo_node"
        type="asv_ctrl_vo_node"
        respawn="false"
        output="screen"/>

</launch>
