<launch>

  <!-- Launch Controller -->
  <!-- <include file="$(find asv_simulator)/launch/control/xboxctrl.launch" /> -->
  <group ns="asv">
    <node pkg="asv_simulator"
          name="ASVNode"
          type="asv_simulator_node"
          respawn="false"
          output="screen">
      <!-- <rosparam param="initial_state">[0.0, 0.0, 1.0, 1.,0.,0.]</rosparam> -->
      <rosparam param="initial_state">[0.0, 0.0, 1.57, 1.,0.,0.]</rosparam>
    </node>
    <node pkg="asv_simulator"
          name="LOSNode"
          type="ctrl_LOS_guidance.py"
          respawn="false"
          output="screen">
      <rosparam command="load" file="$(find asv_simulator)/config/waypoint_list2.yaml" />
      <remap from="cmd_vel" to="LOS/cmd_vel" />
    </node>

    <param name="robot_description" textfile="$(find asv_simulator)/config/models/revolt.urdf" />
    <node pkg="robot_state_publisher"
          type="state_publisher"
          name="tf_broadcaster" />\lg
  </group>

  <!-- <node pkg="asv_simulator" -->
  <!--       name="meshnode" -->
  <!--       type="meshpublisher.py" -->
  <!--       respawn="false" -->
  <!--       output="screen" /> -->


  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find asv_simulator)/config/rviz/config.rviz" />

  <include file="$(find asv_obstacle_tracker)/launch/simple.launch"/>
</launch>
